<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	{% block styleLink %}{% endblock %}
</head>
<body>
	<h1>Koa2 模板</h1>
	<h3>模板练习</h3>
	<ul>
		<li><a href="/helloworld">Hello World</a></li>
		<li><a href="/nunjucks">Nunjucks 初探(表单提交)</a></li>
		<li><a href="/proxy">请求代理（fetch）</a></li>
		<li><a href="/restful/userList"> RestFul + Nunjucks + Script + style + 模板练习 + 文件读写 </a></li>
	</ul>
	<h3>
		React 练习
	</h3>
	<ul>
		<li><a href="/react-test">React Hello World</a></li>
		<li><a href="/hug-app">基于 React 的大型网站建设</a></li>
		<li><a href="/redux-render"> React + Redux 架构</a> 服务端渲染首屏 </li>
	</ul>

</body>
</html>